body {
  margin: 0; padding: 0;
  background-color: #aaa;
}
#fridge {
  width: 800px;
  height: 600px;
  margin: -300px 0 0 -400px;
  padding: 0;
  top: 50%; left: 50%;
  border: 1px solid #444;
  background-color: #f7f7f7;
  position: absolute;
  overflow: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-family: 'Nunito', sans-serif;
}

.magnet {
  position: absolute;
  display: inline-block;
  padding: 0 0.2em 0 0.2em;
  background-color: #fff;
  border: 1px solid #666;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  cursor: hand;
}
